[main]
disable=
    C0114, ;docstring
    C0115, ;docstring
    C0116, ;docstring
    R0903, ;too few public methods
    W0611,
    too-many-ancestors,
    unused-argument,
    R0801, ;similar lines

ignore-paths=migrations,

ignore=
    tests.py,
    manage.py,

ignored-classes=User